*::-webkit-scrollbar{
    width: 5px;
}
*::-webkit-scrollbar-track{
    background: transparent;
}
*::-webkit-scrollbar-thumb{
    background-color: rgba(155,155,155,0.5);
    border-radius: 20px;
    border: transparent;
}
.library{
    transform: translateX(-100%);
    transition: all 0.5s ease;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 17rem;
    height: 100%;
    box-shadow: 2px 2px 50px rgb(168, 168, 168);
    overflow: scroll;
    h2{
        padding: 2rem;
    }
}
.libray-song-container{
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    img{
        width: 40%;
    }
    &:hover{
        background-color: rgb(212, 212, 212);
    }
}
.song-description{
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    h3{
        font-size: 1rem;
    }
    h4{
        font-size: 0.7rem;
    }
}
.selected{
    background-color: rgb(184, 231, 243);
}
.active-library{
        transform: translateX(0%);
        opacity: 1;
}